body{
    margin: 100px;
}

.form-box{
    box-shadow: 5px 5px 10px gray;
    padding: 50px;
    border-radius: 10px;
    margin-top: 20px;
}

/* #login-area{
    display: none;
} */

#transaction-area{
    display: none;
}

.deposit{
    background-color: slateblue;
}

.withdraw{
    background-color: lightsalmon;
}

.balance{
    background-color: orange;
}

.box{
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.submit-area{
    box-shadow: 5px 5px 10px gray;
    padding: 40px;
    border-radius: 10px;
    margin-top: 40px;
}